* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body
{
    width: 100%;
    height: 100%;
}

body{
    background-color: #57B19F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 470px;
    background-color: white;

    border-radius: 5px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}


input {
    border: none;
    outline: none;
    transition: .1s;
    border-bottom: 2px solid #DEDEDE;
    width: 304px;
    height: 43px;
    font-size: 16px;
    font-family: sans-serif;
}
.add{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 3px;
    transition: .1s;
}

.but {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.res {
    width: 90%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 3px;
    transition: .1s;
    
}

.form {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
}


.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tasks {
    height: 18px;
    width: 80%;
    padding: 10px;

}